.keyboard {
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard .row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.keyboard .row .key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 40px;
  margin: 2.5px;
}

.keyboard .row .key.space {
  flex: 0 0 auto;
  width: 200px;
}

.keyboard .row .key.pressed {
  background-color: #99ccff;
}
