.show article {
    font-style: italic;
    color: rgba(0, 0, 0, 0.8); /* 20% tint of @fontColor */

}

.letter {
    display: inline-block;
    min-width: 10px;
    min-height: 24px;
    background-color: darkgrey;
}
.goodTyped {
    background-color: limegreen;
}

.badTyped {
    background-color: red;
}
